<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612474596161-qkd9j8dkfkiletmdjp6sd3bo6gjm9ci0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612474596161-qkd9j8dkfkiletmdjp6sd3bo6gjm9ci0</string>
	<key>API_KEY</key>
	<string>AIzaSyCzOBvJUMYWBYFZujXUaEIuZVIJWHDikoA</string>
	<key>GCM_SENDER_ID</key>
	<string>612474596161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Valse.chatting</string>
	<key>PROJECT_ID</key>
	<string>mychatapp-49b75</string>
	<key>STORAGE_BUCKET</key>
	<string>mychatapp-49b75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612474596161:ios:1547cb25b3b2245fa4cfc0</string>
</dict>
</plist>